sudo: required
dist: trusty
group: deprecated-2017Q4
language: c
env:
    global:
        # Travis currently only provides two cores per VM:
        # https://docs.travis-ci.com/user/reference/overview/.
        # There is at least one open issue asking that this info be provided to the
        # client environment: https://github.com/travis-ci/travis-ci/issues/4696.
        # For now just hardcode the expected value.
        - CORE_COUNT=2

matrix:
    include:
        - os: linux
          env:
            - DISTRO_TYPE=fedora
              INSTALL_REQUIREMENTS="dnf repolist; dnf install -y gcc python3 meson sudo langpacks-zh_CN ed ncurses vi findutils which"
          before_install:
              - docker pull ${DISTRO_TYPE}

        # Note: Meson 0.44.0 is the newest version that works with Python
        # 3.4 available on OpenSuse Leap. See issue #430.
        - os: linux
          env:
            - DISTRO_TYPE=opensuse
              INSTALL_REQUIREMENTS="zypper refresh; zypper in -y gcc python3 python3-pip ninja sudo glibc-locale glibc-devel ed ncurses-utils vim findutils which; pip3 install meson==0.44.0"
          before_install:
              - docker pull ${DISTRO_TYPE}

        # Ubuntu requires explicitly generating en_US.UTF-8 locale
        - os: linux
          env:
            - DISTRO_TYPE=ubuntu
              INSTALL_REQUIREMENTS="apt-get update; apt-get install -y gcc python3 sudo locales ed vim meson findutils debianutils; locale-gen en_US.UTF-8"
          before_install:
              - docker pull ${DISTRO_TYPE}

        # Debian requires explicitly generating en_US.UTF-8 locale too
        - os: linux
          env:
            - DISTRO_TYPE=debian
              INSTALL_REQUIREMENTS="apt-get update; apt-get install -y gcc python3 python3-pip ninja-build sudo locales ed vim procps findutils debianutils; pip3 install meson==0.44.0; sed -i '/# en_US.UTF-8 UTF-8/s/..//' /etc/locale.gen && locale-gen"
          before_install:
              - docker pull ${DISTRO_TYPE}

        - os: osx
          before_install:
              - brew update
          env:
              # This variable is not required by macOS builds, but setting it for Travis dashboard.
              - DISTRO_TYPE=macOS

services:
    - docker

script:
    # TODO: Check how to set MESON_TESTTHREADS dynamically.
    # TODO: Change "meson test" to "meson test --setup=malloc" when #398 is fixed.
    # TODO: When we run the tests with --setup=malloc change "testlog.txt" to "testlog-malloc.txt".
    - if [[ $TRAVIS_OS_NAME == "osx" ]]; then scripts/build-on-macos.sh; exit $?; fi

    - echo > build.sh "set -e;
        export LANG=en_US.UTF-8;
        export CFLAGS='-fno-strict-aliasing -Wno-unknown-pragmas -Wno-missing-braces -Wno-unused-result -Wno-return-type -Wno-int-to-pointer-cast -Wno-parentheses -Wno-unused -Wno-unused-but-set-variable -Wno-cpp -Wno-char-subscripts';
        cd /source;
        mkdir build;
        cd build;
        echo ==== Configuring the build;
        if ! meson; then cat meson-logs/meson-log.txt; exit 1; fi;
        echo ==== Building the code;
        ninja;
        echo ==== Running unit tests;
        ulimit -n 1024;
        export MESON_TESTTHREADS=$(( 4 * CORE_COUNT ));
        if ! meson test; then cat meson-logs/testlog.txt; exit 1; fi;
        "

    - chmod a+x build.sh

    - docker run -v $TRAVIS_BUILD_DIR:/source ${DISTRO_TYPE} bash -c "set -e;
        ${INSTALL_REQUIREMENTS};
        useradd --create-home test;
        chown -R test /source;
        sudo -u test /source/build.sh"
