sudo: required
env:
    matrix:
        - OS_TYPE=fedora
          INSTALL_REQUIREMENTS="dnf repolist; dnf install -y sudo procps-ng libX11-devel fuse-devel gdbm-devel langpacks-zh_CN; dnf groupinstall -y 'C Development Tools and Libraries'"

        - OS_TYPE=opensuse
          INSTALL_REQUIREMENTS="zypper refresh; zypper in -y sudo glibc-locale bind-utils bison flex gdbm-devel glibc-devel groff ncurses-devel procps psmisc pwdutils zlib-devel bind-libs libbz2-devel update-alternatives awk gcc libX11-devel vim"

services:
    - docker

before_install:
    - docker pull ${OS_TYPE}

script:
    - find \( -name \*.c -o -name \*.h \) -exec sh -c '! grep --color "^[[:space:]]*//" $@' find {} \+ && echo No line comments found...
    - echo > build.sh "set -e;
        cd /source;
        export CCFLAGS='-fno-strict-aliasing -Wno-unknown-pragmas -Wno-missing-braces -Wno-unused-result -Wno-return-type -Wno-int-to-pointer-cast -Wno-parentheses -Wno-unused -Wno-unused-but-set-variable -Wno-cpp -P';
        export CC=gcc;
        ./bin/setup_cmds.sh;
        ./bin/package;
        ./bin/package make ast-ksh 2>&1 | tee out.log;
        grep -q 'error:' out.log && exit 1;
        ln -s /usr/bin/cat arch/$(sh bin/package)/bin/;
        ln -s /usr/bin/tee arch/$(sh bin/package)/bin/;
        ln -s /usr/bin/chmod arch/$(sh bin/package)/bin/;
        ulimit -n 1024;
        export IS_RUNNING_TRAVIS=true;
        ./bin/package test ksh93 2>&1 | tee test.log;
        grep -q '^test [^ ]* failed' test.log && exit 1 || exit 0;"

    - chmod a+x build.sh

    - docker run -v $TRAVIS_BUILD_DIR:/source ${OS_TYPE} bash -c "set -e;
        ${INSTALL_REQUIREMENTS};
        useradd test;
        chown -R test /source;
        sudo -u test /source/build.sh"
